/*
     Khoi Nguyen
     Assignment7
     INFO1311 WW
	 KUISMA
	 04/29/2021
*/ 

body {
    font-family: Verdana, Arial, sans-serif;
    background-color: white;
    color: black;
    }

h1 {
	text-align: left;
}

header {
    font-weight: bold;
    text-align: center;
    font-size: 36px;
    margin-bottom: 0px;
    padding-bottom: 0px;
    line-height: 20px;
}

#surinfo {
    width: 100%;
    text-align: left;
    font-style: italic;
    font-size: 15px;
    margin-bottom: 15px;
}

fieldset {
    text-align: left;
}

fieldset legend {
    background-color: white;
}

legend {
    font-size: 25px;

}
div.info {
	   width:100;
	   line-height:2.0;
	   text-align: left;	 
}

div.col {
	padding-top:50px;
	padding-bottom:15px;
	line-height:normal;
}

div.col .pur{
	padding-top:25px;
	line-height:0;
}

div.col .role{
	padding-top:25px;
	line-height:0;
}

 footer { 
    margin-top: 100px;
    text-align: center;
}



