<!-- Khoi Nguyen 
Final Project
INFO1311 WW
KUISMA
05/16/2021
-->

* { box-sizing: border-box;}
body { background-color: #353535;
      color: #003366;
	  font-family: Verdana, Arial, sans-serif;
	  margin: 0;
}
#wrapper { 
	background-color: #F0F0F0;
	width: 100%;
}
header {
    background: rgb(2,0,36);
	background: url('logo1.png')no-repeat ,radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(2,187,173,1) 62%, rgba(3,27,32,1) 100%);  
	

	font-family: Georgia, "Times New Roman", serif;
	padding: 1em;
	text-align: center;
}

header a { text-decoration: none; }
header a:link       { color: #F0F0F0; }
header a:visited { color: #F0F0F0; }
header a:hover     { color: #AEC3E3; }
h1 { 
	 font-size: 2em;
     padding: 0.2em;
	 text-shadow: 3px 3px 3px #CCC; }
h2 { 
	 font-size: 1.2em;
     text-shadow: 1px 1px 1px #777; 	 }
h3 { 
	font-size:0.8em; 
	}
nav { 
	text-align: center;
	}
nav ul { 
		 display: flex;
	     flex-direction: column;
	     margin: 0;
	     padding: 0;
	     font-size: 1em;
	     list-style-type: none; 
}
nav li {
		padding-top: .5em;
 		 padding-bottom: .5em;
		 width: 100%;
	     border-bottom: 1px solid #000066;
}
nav a { text-decoration: none; }
nav a:link       { color: #000066; }
nav a:visited { color: #5280C5; }
nav a:hover     { color: #3262A3; }
main {
	  background-color: #FFF;
      border: 1px solid #AEC3E3;
	  display: block;
	  overflow: auto;
      padding-left: 2em;
      padding-right: 2em;
}

div.info {
	   width:100px;
	   line-height:normal;
	   text-align: left;	 
}

div.col {
	padding-top:50px;
	padding-bottom:15px;
	line-height:normal;
}

div.cell{
	
	padding-bottom:15px;
	line-height:normal;
}

div.pur{
	padding-top:25px;
	line-height:0;
}

div.role{
	padding-top:25px;
	line-height:0;
}

footer { 
         background-color: #F6F6F6;
         font-size: .70em;
         font-style: italic;
		 padding: 1em;
		 text-align: center;
		 border-top: 1px solid black;
		 margin-top: 25px;
 
}

#contact:after {
        content: 'Khoi Nguyen';
		color: #3262A3;
}
#contact:hover:after {
        content: 'Contact グエン';
		color: #3262A3;
}


#mobile { display: inline; }
#desktop { display: none; }

@media only screen and (min-width: 800px){
	#wrapper{
		margin: 0 auto;
		width:80%;
		align:center;
	}
	header{   
		background: rgb(2,0,36);
		background:url('logo2.png')no-repeat, radial-gradient(circle, rgba(2,0,36,1) 0%, rgba(2,187,173,1) 62%, rgba(3,27,32,1) 100%); 
			 }
	h1{ font-size: 3em;}
	nav ul{
		display:flex;
		flex-direction: row;
		flex-flow: nowrap;
		justify-content: space-around;	
	}
	nav li{
		border-bottom: none;
	}
	#flow {
		display:flex;
		flex-direction: row;
		flex-wrap: wrap;
	}
	
	#mobile{ display: none; }		
	#desktop{ display: inline;}
		
}


	
	

